
body{
	text-align:center;	
	background-color:#555555;
	margin-top: 5%;

}
.login-page {
	width: 40%;
	padding: 2% 0 0;
	margin: auto;
    padding:45px ;
	font-size: 20px;
}

.form{
	position:static;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	border-radius: 10px;
   
}
p{
	color: #E7F6F2;
}
.btn:hover{
    background-color: black;
}
.btn{
    margin-left: 6px;
}